@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    scroll-behavior: smooth;
    color: #2C313F;
}

body{
    background-color: #fbfbfb;
    overflow-x: hidden !important;
}

.footerImage{
    object-fit: contain !important;
}